NODE_ENV=development
PORT=3000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=nuplans_db
DB_SYNC=true
DB_LOGGING=false

# JWT
JWT_SECRET=super-secret-key
JWT_EXPIRES_IN=24h
JWT_REFRESH_SECRET=super-secret-key
JWT_REFRESH_EXPIRES_IN=7d


# Email (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
SMTP_FROM="Nuplans Support" <no-reply@nuplans.com>

# App
APP_URL=http://localhost:3000

# AI Configuration
GEMINI_API_KEY=your_gemini_api_key
GEMINI_MODEL=gemini-1.5-flash
OPENAI_API_KEY=your_openai_api_key
OPENAI_MODEL=gpt-4-turbo
OPENAI_BASE_URL=https://api.groq.com/openai/v1
MILESTONE_ACTION_OPENAI_API_KEY=string
MILESTONE_ACTION_OPENAI_API_MODEL=string
MILESTONE_ACTION_OPENAI_API_BASE_URL=string
PLANNING_OPENAI_API_KEY=string
PLANNING_OPENAI_API_MODEL=string
PLANNING_OPENAI_API_BASE_URL=string
PARSE_CV_API_KEY=string
PARSE_CV_API_MODEL=string
PARSE_CV_API_BASE_URL=string

# Storage Configuration (Supabase)
SUPABASE_URL=your_supabase_url
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key
CV_BUCKET=cvs




# ADMIN

# JWT
JWT_ADMIN_SECRET=super-secret-key
JWT_ADMIN_EXPIRES_IN=24h
JWT_ADMIN_REFRESH_SECRET=super-secret-key
JWT_ADMIN_REFRESH_EXPIRES_IN=7d


# MASTER USER
MASTER_USER_EMAIL=example@gmail.com
MASTER_USER_PASSWORD=example